/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
  background-color: #fff;
  color: #fff;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h3 {
  color: black;
}

/* Utilities */
.container {
  max-width: 60%;
  margin: auto;
  overflow: hidden;
  background: #fff;
  padding: 2rem;
  margin-right: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1em;
}

@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  margin: 0;
}

.navbar {
  background-color: #101010;
  height: 3.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.navbar h3 {
  margin: auto;
  color: #fff;
}

.title {
  padding: 1em;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #101010;
  width: 20%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 0.9em;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.9em;
  border-radius: 0.2em;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #101010;
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.entityList {
  background: #D3D3D3;
  border-radius: 1.3em;
}
.entityList li {
  border :0.3em solid white;
  padding : 0.5em;
}

.entityList li p a {
 color:white;
}

.entityList li p a:hover {
  color:black;
  font-size: 1.03em;
 }

.entityList li p span {
  color:black;
  padding : 0.5em;
  font-size: 1em;
}

